<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Chat Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/car/car.css">
  <script>
    function ChatController($scope) {
      //var socket = io.connect();
      socket = io.connect();

      $scope.messages = [];
      $scope.roster = [];
      $scope.name = '';
      $scope.text = '';

      socket.on('connect', function() {
        console.log('Connected');
        $scope.setName();
      });

      socket.on('message', function(msg) {
        console.log('Recived message:', msg);
        $scope.messages.push(msg);
        $scope.$apply();
      });

      socket.on('coords', function(msg) {
        console.log('Recived coords:', msg);
        if (msg.name && msg.name !== 'Anonymous') {
          //alert(msg.name+'\r\n'+msg.text);
          updatePlacemark(msg.name, msg.text, Boolean(msg.isFox), msg.isOnFox)
        };
      });

      socket.on('removedLastOne', function(name) {
        console.log('Removed the last buddy:', name);
        removePlacemark(name);
      });

      socket.on('removed', function(playerID) {
        console.log('Removed:', playerID);
        removePlacemark_one(playerID);
      });

      socket.on('fox_catched', function(msg) {
        console.log('fox_catched:', msg);
        updateFox(msg);
      });

      socket.on('route_calc_request', function(msg) {
        console.log('Route calc request reacived:', msg);
        calcRoute(JSON.parse(msg));
      });

      socket.on('route_calc_request_done', function(msg) {
        console.log('Route calc request DONE reacived:', msg);
        cashedReqRoute = null;
      });

      socket.on('roster', function(names) {
        console.log('Reacived roster:', names);
        $scope.roster = names;
        $scope.$apply();
        checkPlacemarks(names);
      });

      $scope.send = function send() {
        console.log('Sending message:', $scope.text);
        socket.emit('message', $scope.text);
        $scope.text = '';
      };

      $scope.setName = function setName() {
        console.log('Sending name:', $scope.name);
        socket.emit('identify', $scope.name);
      };

      if (navigator.geolocation) {
        var timeoutVal = 10 * 1000 * 1000;
        navigator.geolocation.watchPosition(
          displayPosition,
          displayError, {
            enableHighAccuracy: true,
            timeout: timeoutVal,
            maximumAge: 0
          });
      }
      else {
        alert("Geolocation не поддерживается данным браузером");
      };

      // function displayPosition(position) {
      //   coordsText = "Широта: " + position.coords.latitude + "<br> Долгота: " + position.coords.longitude + "<br> Точность: " + position.coords.accuracy + "м<br> Скорость: " + position.coords.speed * 3.6 + " км/ч" + "<br> Обновлено: " + (new Date(position.timestamp)).toLocaleString() + "." + (new Date(position.timestamp)).getMilliseconds();

      //   arr = [
      //     [position.coords.latitude, position.coords.longitude], coordsText
      //   ];
      //   socket.emit('coords', JSON.stringify(arr));
      //   console.log('Sent coords:', JSON.stringify(arr));
      // };

      function displayError(error) {
        var errors = {
          1: 'Нет прав доступа',
          2: 'Местоположение невозможно определить',
          3: 'Таймаут соединения'
        };
      };
    };
  </script>
</head>

<body>
  <div class="container" ng-controller="ChatController">
    <div class="page-header">
      <h4>Maps track Example</h4>
    </div>
    <div class="row">
      <div class="span12">
        <div class="row">
          <form ng-submit="setName()">
            <div class="input-append span12">
              <input type="text" class="span11" ng-model="name" placeholder="Your Name">
              <input type="submit" class="span1 btn btn-primary" value="Send">
            </div>
          </form>
        </div>
        <ul class="nav nav-list well">
          <div style="display: none;"><li class="nav-header" id='debug-text'></li></div>
          <div style="display: none;"><li class="nav-header" id='fox-info' style="display: none;"></li></div>
          <li class="nav-header">Local Users</li>
          <li ng-repeat="user in roster">{{user.name}} ({{user.id}})</li>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="map" style="height: 400px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-striped table-bordered table-responsive">
          <thead>
            <tr>
              <th class="span3">Name</th>
              <th class="span8">Text</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="msg in messages">
              <td class="span3" ng-bind="msg.name"></td>
              <td class="span8" ng-bind="msg.text"></td>
            </tr>
          </tbody>
        </table>
        <div class="row controls">
          <form ng-submit="send()">
            <div class="input-append span12">
              <input type="text" class="span11" ng-model="text" placeholder="Message">
              <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript" src="maps.js"></script>
</body>

</html>
